<html>
<head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

<script>
angular.module('googleloginApp',['ngStorage'])
.controller('googleloginCtrl',function($scope,$window,$location,$localStorage) {
	console.log("isopen:"+$window.isOpen);
	$window.isOpen=false;
	$window.userId={{userId}};
	$window.userTok='{{token}}';

	$scope.btnClick=function(){
		console.log("isopen:"+$window.isOpen);
		$window.isOpen=false;
		$window.userId={{userId}};
		$window.userTok='{{token}}';
		$window.localStorage.setItem('userId',{{userId}});
		$window.localStorage.setItem('userTok','{{token}}');
		$location.search("userTok","{{token}}");
		
		//$scope.abc=$localStorage.abc;
		
		localStorage.setItem('abc','abc');
		var abc=localStorage.getItem('abc');
		console.log('abc:'+abc);
	};
});
</script>
</head>
<body ng-app="googleloginApp" ng-controller="googleloginCtrl" id="mybody">
<h1>Finish</h1>
<pre>user:{{user}}
email:{{email}}

</pre>

<button ng-click="btnClick();">Close</button>

<script>
$( document ).ready(function() {
		console.log( "ready!" );
		window.localStorage.setItem('userId',{{userId}});
		window.localStorage.setItem('userTok','{{token}}');
		window.isOpen=false;
		window.userId={{userId}};
		window.userTok='{{token}}';
});
</script>
</body>
</html>